**/*.rs.bk
.#*
.gdb_history
target/

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Files that are copied to workspace root during build step

initialize_memory.S
interrupt_vector.S
linker-script
